@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:regular&display=swap");
:root {
  --white: #ffffff;
  --blue: #204959;
  --dark-green: #217191;
  --black: #131414;
  --light-blue: #d9ebf1;
  --light-green: #edf1f2;
  --brown: #c7a48b;
  --transition: 300ms ease-in-out;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  width: 24px;
  height: 24px;
  display: block;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat";
  background-color: #fbfbfb;
  color: var(--black);
}

.header__container {
  min-width: 320px;
  max-width: 1740px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo__icon {
  width: 285px;
  height: 71px;
  fill: var(--white);
}

.header {
  background-color: var(--blue);
  padding: 34px 0;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  gap: 45px;
}
.header__menu-item {
  position: relative;
}
.header__menu-item:is(:hover, :focus) .header__dropdown {
  opacity: 1;
  visibility: visible;
}
.header__menu-link {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.65;
  transition: color var(--transition);
}
.header__menu-link:is(:hover, :focus) {
  color: var(--brown);
}
.header__menu-link:is(:hover, :focus) .header__menu-link-arrow {
  fill: var(--brown);
  transform: rotate(180deg);
}
.header__menu-link-arrow {
  width: 20px;
  height: 20px;
  fill: var(--white);
  transition: fill var(--transition), transform var(--transition);
  margin-left: 10px;
}
.header__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  padding-top: 17px;
}
.header__dropdown-link {
  color: var(--white);
  font-style: normal;
  line-height: 1.86;
  transition: color var(--transition);
}
.header__dropdown-link:is(:hover, :focus) {
  color: var(--brown);
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 192px;
  height: 62px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  border-radius: 60px;
  border: 1px solid #C7C7C7;
  transition: background-color var(--transition), border-color var(--transition);
}
.header__link:is(:hover, :focus) {
  background-color: #C7A48B;
  border-color: transparent;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/mobile-hero-bg-2x.png);
  }
}