:root {
  --white: #ffffff;
  --blue: #204959;
  --dark-green: #217191;
  --black: #131414;
  --light-blue: #d9ebf1;
  --light-green: #edf1f2;
  --brown: #c7a48b;
  --transition: 300ms ease-in-out;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:regular&display=swap");
@import "reset";

body {
  font-family: "Montserrat";
  background-color: #fbfbfb;
  color: var(--black);
}

.header__container {
  min-width: 320px;
  max-width: 1740px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {

  &__icon {
    width: 285px;
    height: 71px;
    fill: var(--white);
  }
}

.header {
  background-color: var(--blue);
  padding: 34px 0;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    gap: 45px;
  }

  &__menu-item {
    position: relative;

    &:is(:hover, :focus) .header__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.65;
    transition: color var(--transition);

    &:is(:hover, :focus) {
      color: var(--brown);
    }

    &:is(:hover, :focus) &-arrow {
      fill: var(--brown);
      transform: rotate(180deg);
    }
  }

  &__menu-link-arrow {
    width: 20px;
    height: 20px;
    fill: var(--white);
    transition: fill var(--transition),
      transform var(--transition);
    margin-left: 10px;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition),
      visibility var(--transition);
    padding-top: 17px;
  }

  &__dropdown-item {}

  &__dropdown-link {
    color: var(--white);
    font-style: normal;
    line-height: 1.86;
    transition: color var(--transition);

    &:is(:hover, :focus) {
      color: var(--brown);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 192px;
    height: 62px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    border-radius: 60px;
    border: 1px solid #C7C7C7;
    transition: background-color var(--transition),
      border-color var(--transition);

      &:is(:hover, :focus) {
        background-color: #C7A48B;
        border-color: transparent;
      }
  }
}

@import "media";